@charset "utf-8";

#login_part{}
#login_part .wrap{position: relative;width: 1200px;height: 600px; margin: 0 auto; text-align: center;}
#login_part .wrap .login{background-color: #fff; border-radius: 5px; width: 400px; height: 250px;padding: 30px;position: absolute;bottom: 30%;left: 50%;transform: translate(-50%, -30%); box-shadow: 0 0 4px #5e889e;}

#login_part .wrap .login p{font-size: 14px;padding-bottom: 10px;text-align: center;}
#login_part .wrap .login p input{outline: none;border: none;border-bottom: 1px solid #7398ab;width: 250px; padding: 10PX 10px; font-size: 18px;}

#login_part .wrap .login .btn{width: 150px;height: 40px;background-color: #7398ab; border-radius: 4px; margin: 20px 105px 0 105px;}
#login_part .wrap .login .btn a{display: block; color: #fff; font-weight: bold;line-height: 40px;}
#login_part .wrap .login .find a{display:inline-block; padding-top: 20px; margin: 0 5px;}
#login_part .wrap .login a p{font-size: 14px;color: #7398ab;line-height: 1.2;}

#login_part .wrap .login .btn a:hover{background-color:#755562; color: #fff; border-radius: 4px;}

